<div class="container">
  <div class="row">
    <div class="mx-auto col-lg-6">
      <%# バリデーションエラー %>
      <% if @book.errors.any? %>
        <h2><%= @book.errors.count %> errors prohibited this obj from being saved:</h2>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      
      <h1>Editing Book</h1>
      <%= form_with model: @book do |f| %>
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control w100" %><br>
        <%= f.label :body, 'Opinion'  %><br>
        <%= f.text_area :body, class: "form-control w100" %><br><br>
        <%= f.submit "Update Book", class: 'btn btn-success btn-lg' %>
      <% end %>
      
      <%= link_to "Show", book_path(@book.id) %> |
      <%= link_to "Back", books_path %>
    </div>
  </div>
</div>