<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>

<%# User info %>
<%= render 'layouts/side_menu', user: @user, book: @book %>

<%# 投稿詳細 %>
<h1>Book detail</h1>
<table border="1">
  <tr>
    <th>
      <%= image_tag @book_detail.user.get_profile_image(100, 100) %><br>
      <%= link_to @book_detail.user.name, user_path(@book_detail.user.id) %>
    </th>
    <th><%= link_to @book_detail.title, book_path(@book_detail.id) %></th>
    <th><%= @book_detail.body %></th>
    <th><%= link_to "Edit", edit_book_path(@book_detail.id) %>
    <th><%= link_to "Destroy", book_path(@book_detail.id), method: :delete, data: {confirm: "本当に消しますか？"} %>
  </tr>
</table>